<%- include('layout/head.ejs'); %>
  <body>
    <h1>Virtual Bookshelf</h1>
    <%- include('layout/header.ejs'); %>

    
      <ul>
        <% books.forEach(books => { %>
        <li id="details">
          <span>
            <img src="<%= books.image_url %>">
          </span>
            <h3>
              <%= books.title %>
            </h3>
            <h4>
              <%= books.author %>
            </h4>
            <h5>
              <%= books.isbn %>
            </h5>
            <p>
              <%= books.description %>
            </p>
        </li>
              <% }); %>
      </ul>
  </body>
</html>



      
  </body>
</html>