<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Books App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/styles/base.css" />
    <link rel = "stylesheet" href="<link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kite+One&display=swap" rel="stylesheet">"
  </head>
  <body>
    <h1>Virtual Bookshelf</h1>
      <nav>
        <a href="/">Home</a>
        <a href="/searches/new">Search</a>
      </nav>
      <ul>
        <% books.forEach(books => { %>
        <li id="details">
          <span>
            <img src="<%= books.image_url %>">
          </span>
            <h3>
              <%= books.title %>
            </h3>
            <h4>
              <%= books.author %>
            </h4>
            <h5>
              <%= books.isbn %>
            </h5>
            <p>
              <%= books.description %>
            </p>
        </li>
              <% }); %>
      </ul>
  </body>
</html>



      
  </body>
</html>